body
{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header
{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header a:hover
{
    color: #f4f4f4;
}

header li a
{
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

header li a:hover
{
    background-color: #555;
    padding: 0 15px;
}
/* footer */
footer
{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/*  nav */
nav
{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ol li {
    display: inline;
}

nav ol li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav ol li a:hover {
    background-color: #555;
    padding: 0 15px;
}

